[Unit]
Description=Monitor tweets that mention Mombasa

[Service]
ExecStart=/home/ubuntu/mombasa_tweets/mombasani.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=mombasani
Restart=on-failure
