astroid==2.3.3
cachetools==3.1.1
certifi==2019.3.9
chardet==3.0.4
google-api-core==1.14.3
google-auth==1.8.2
google-cloud-tasks==1.3.0
googleapis-common-protos==1.6.0
grpc-google-iam-v1==0.12.3
grpcio==1.25.0
gunicorn==20.0.4
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
oauthlib==3.0.1
protobuf==3.11.1
psycopg2-binary==2.8.4
pyasn1==0.4.8
pyasn1-modules==0.2.7
pylint==2.4.4
PySocks==1.6.8
pytz==2019.3
requests==2.21.0
requests-oauthlib==1.2.0
rsa==4.0
six==1.12.0
tweepy==3.7.0
typed-ast==1.4.0
urllib3==1.24.2
wrapt==1.11.2
